@using QuoteOnQuote.Models;



@model List<Quote>


@{
    ViewBag.Title = "Contact";
}


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="@Url.Content("~/Content/Dashboard.css")" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Calligraffitti" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>  

</head>

<!--Sort list is not okay-->
<body>


    <div id="dashboard" class="listContainer">
            <ul id="listRow">
                       @foreach (var item in Model)
                       {
                <li>
                    <div id="containerEntry">
                        <div id="originList">
                            @item.Origin;
                        </div>
                        <div id="quoteList">
                            @item.Text;
                        </div>


                        <form>
                            <div onclick="voteUp(@item.QuoteId); return false" id="voteUp-@item.QuoteId" class="commandList"> + </div>
                            <div onclick="voteDown(@item.QuoteId); return false" id="voteDown-@item.QuoteId" class="commandList"> - </div>
                        </form>
                        <div id="containerVotes"> N/a </div>
                    </div>
                </li>
                     }
            </ul>

          </div>
        </body>
</html>
