@{
    ViewBag.Title = "Home Page";
}
<html>
<link href="~/Content/Login.css" rel="stylesheet" />
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="@Url.Content("~/Content/Login.css")" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Calligraffitti" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")




</head>

<body>
<div id="login">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input type="text" name="username" placeholder="Username"/>
        <br>
        <input type="text" name="password" placeholder="Password"/>
        <br>
        <input type="submit" name="login" value="Login"/>
    }
</div>

</body>

</html>